@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
.busyHolder {
  &.backdrop {
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
  }

  .busy {
    position: absolute;
    left: 0;
    top: calc(50% - 60px);
    z-index: 9999;
    right: 0;
    text-align: center;
    max-width: 400px;
    background-color: white;
    border-radius: 4px;
    width: 80%;
    margin: auto;
    padding: 12px;

    .loader {
      margin: auto;
      border: 3px solid #159587;
      border-radius: 50%;
      border-top: 3px solid #fff;
      width: 40px;
      height: 40px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    img {
      animation: rotating 2s linear infinite;
    }

    .loadingText {
      color: #000;
      margin: 10px auto;
      font-weight: 300;
      font-size: 16px;
    }
  }
}
